
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  /* COLORS  */
  --background-hover: #b8e2b9;
  --color-shadow: #ccc;
  --palette-1:rgb(90, 181, 7);
  --palette-2:rgb(102, 192, 11);
  --palette-3: rgb(114, 203, 16);
  --palette-4: #89d631;
  --palette-5: #a9e159;
  --palette-6:	rgb(185, 251, 192);

  /*TOASTIFY*/
  --toastify-color-light:rgb(90, 181, 7, .3);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-toast-width: 160px;
  --toastify-text-color-info: #fff;

  /*  SPACING  */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xlg: 4rem;

  /* Borders & Shadows */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  /* Typography */
  --font-main:  "Bree Serif", "Verdana", sans-serif;
  --font-secondary: "Outfit",  sans-serif;
  --font-alternative:  "Roboto Slab",  serif;
  --font-title:"Cascadia Code", sans-serif;
  --font-display: "Roboto Condensed", sans-serif;
  --font-new: "Noto Sans Display", sans-serif;
  --font-size-xxs: .8rem;
  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.3rem;
  --font-size-lg: 1.4rem;
  --font-size-display: 2rem;

  /* Sizes  */
  --card-width: 250px;
  --image-size: 230px;
}
#root {
  padding: 0;
  width: 100%;
  height: 100vh;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFF;
  box-sizing: border-box;
  overflow-x: hidden;
}
/***SWEETALERT***/
.swal2-popup {
  width:30%;
  height: 80%;
  overflow: hidden;
}
.swal2-popup button {
  background-color: var(--palette-4);
}
.swal2-popup button:hover {
  background-color: var(--palette-5);
 
}

/* HEADER */
header {
  background-color: black;
  color: white;
  font-family: var(--font-main);
  font-size: .8rem;
  width: 100%;
}
.header-title .link {
  padding: 0.4em 0;
  text-decoration: none;
  margin: var(--spacing-md) auto;
  justify-content: center;
}
div[class=col-3]{
   display:grid;
   align-items: center;
  padding: 1rem 0.2rem;
}
.col-3-text{
  margin:10px;
}
.col-6{
margin-top:10px;
}
.col-6>img{
  width: 25%;
  padding-left: 5px;
}
div[class=col-3]>p:hover {
  transform: scale(1.01); 
  color:var(--palette-5);
} 
 .container-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }
.icono {
  margin-right: 0.2rem;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
/*  NAV  */
.nav {
  background-color: var(--palette-1);
  color: var(--palette-6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: .3rem;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
li {
  margin-left: var(--spacing-md);
  align-items: self-end;
  padding: 0 15px;
  font-size: var(--font-size-xs);
  font-family: var(--font-alternative);
  border-radius: 4px;
}
.nav li:hover {
  background-color: var(--palette-5);
  color: var(--palette-6);
  border:1px solid var(--palette-6);
} 
li li{
margin-left:5px;
}
.badge{
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 0.8rem;
}
.btn-show-cart{
  margin-left: 2rem;
  padding: 4px;
  font-size: var(--font-size-xxs);
  border: 1px solid var(--palette-6);
  border-radius: 4px ;
}
li .btn-show-cart{
align-self: flex-end;
}
.nav a, .navFooter a {
  color: var(--palette-6);
  text-decoration: none;
}
.nav a:hover{
  color:var(--palette-6);
}
.fa-user-tie{
  color: var(--palette-6);
}
.navFooter{
  display: flex;
  width: 100%;
  background-color: var(--palette-1);
  color: var(--palette-6);
  align-items: center;
  justify-content:center;
  margin: 2rem 0;
  padding: 4px;
}
[class^="fa-"] {
  margin:5px;
}
.navFooter a:hover{
  color: var(--palette-5);
}
.submenu {
  position: relative;
  background-color: var(--palette-1);
  color: var(--palette-6);
  border-radius: 4px;
}
.sublista {
  position: absolute;
  display: none;
  top: 109%;
  left: 0px;
  align-items:start;
  background-color: var(--palette-1);
  padding: 10px 12px 10px 1px;
  list-style: none;
  border: 1px solid var(--palette-6);
  border-radius: 4px;
  z-index: 10;
  color: var(--palette-5);
  text-align: left;
}
.submenu:hover .sublista {
  transition: 2s;
  display: inline-flex;
  flex-direction: column;
}
.submenu {
  position: relative;
}
.submenu .sublista {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  padding: 5px;
  margin: 0;
align-items: center;
}
.submenu:hover .sublista {
  display: block;
}
.submenu .sublista li, .navlink{
  align-items: center;
  color:white;
}
.submenu-header {
  padding: 0.3em .2em;
  cursor: pointer;
}

/* Ocultar el "+" en pantallas grandes */
.plus-sign {
  display: none;
}
/*****/


a[href^="mailto"] , a[href^="https"] {
  color:white;
  text-decoration-line: none;
 }
a[href^="mailto"]:hover, a[href^="https"]:hover {
  color:var(--palette-2);
}
 a[href^="https://wa.me"]{
width:50%;
 }
.link.active{
  color:#f4cd21;
  color:#0f4da8;;
}
#container-bike {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4bae4f;
  margin: 0.6rem;
  max-width: 25%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#container-titulo {
  width: 100%;
  height: 100%;
  background-color: var(--palette-2);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-alternative);
}
.col-card-img img:hover {
  box-shadow: 2px 1px 2px 1px var(--color-shadow);
  /* transform: scale(1.1); */
}
/*  FORMULARIO CONTACTO*/
.container-contacto{
  overflow-y: auto;
  display:flex;
  flex-direction: column;
}
#form-contacto{
  display:flex;
  flex-direction:column ;
  width:55%;
  margin: var(--spacing-xlg) ;
}
.form-input {
  border: 1px solid #4caf50;
}
#btn-enviar {
  border: 1px solid #4caf50;
  height:30px;
  padding: 2px;
}
.form-control label {
  text-align: left;
  margin: 0.4em;
}

/*CART*/
.cart-container {
  color: rgb(38, 37, 37);
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 90vh;
  box-shadow: -2px 0 10px black;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  display: none;
  background-color: rgb(230, 228, 228);
  font-size: small;
}
.cart-container.open {
  display: block;
  transform: translate(0%);
  border: 2px solid var(--palette-1);
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-cart-shopping {
  color: var(--palette-3);
}
.btn-comprar{
  border-radius: 3px;
  background-color:  var(--palette-3);
  margin-top: 6rem;
  margin-left: 20%;
  padding: 8px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* max-width: 80%; */
}
.close-button {
  margin: 1em;
  background-color: var(--palette-2);
  border-radius: 4px;
  color:white;
}
.close-button:hover {
  border: 1px solid white;
}
#precio-final{
  font-size: small;
}
.table{
  width:98%;
  margin:auto;
}
 tr :hover{
 background-color:var(--palette-6);
}
.btn-vaciar , .cart-content p{
  position:fixed;
  top:2rem;
  right:6rem;
}
.btn-vaciar:hover{
  color:white;

}
.cart-title {
  font-family: var(--font-alternative);
  text-align: left;
  margin: 30px;
}
.cartItems {
  list-style-type: none;
  font-family: var(--font-secondary);

  display: flex;
  justify-content: space-between;
}
.item-price {
  margin-left: var(--spacing-lg);
}
.cart-line {
  list-style-type: none;
  text-align: right;
  color: var(--palette-3);
}
.fa-trash,
i {
  color: var(--palette-1);
}
/* PRODUCTOS */

.col-card-name, .col-card-stock {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: .8rem;
  width: 24em;
  height: 1.5rem;
  margin: .4em auto;
  display:flex;
  align-items: center;
}
.container-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 90%;
  margin:auto;
  margin-bottom: 3rem;
  font-size: medium;
}
.card-bike {
  padding: 8px;
  flex-direction: column;
  align-items: center;
  transition: var(--box-shadow) 0.3s ease;
  margin: 1.1rem;
}
.col-card-img{
  width:20em;
  height:12em;
  display: flex;
  margin: auto;
  margin-bottom: 0;
  padding-bottom: 0;

}
.col-card-img-container {
  position: relative;
  display: inline-block;
}

.col-card-img-container img {
  display: block;
  margin: auto;
}
.contenedor-hidden {
  position: absolute;
  bottom: 10px;
  background-color: rgba(212, 213, 211, 0.5);
  display: inline-flex;
  transform: translateX(-50%);
  display: none;
  flex-direction: row; /* botón y qty en la misma fila */
  align-items: center;
  gap: 2px;
  border: 1px solid rgb(49, 48, 48);
  padding:10px;
  border-radius: 2px;
}
.col-card-img-container:hover .contenedor-hidden{

  display:flex;
  flex-direction:row;
  left:40%;
}
.qtyButton {
  font-size: 11px;
  font-weight: 700;
  color:white;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #393737;
  border-radius: 3px;
  width:1rem;
  height:1rem;
padding:0;
  /* margin: 0.1em 0.1em; */
} 
.qty-cantidad{
  border: 1px solid black;
  padding: .3em .7em;
 font-weight: 700;
}
.qtyButton:hover {
  border-color: #8e24aa;
}
.cant-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* .col-card-img-container .btn-hidden {
  position: absolute;
  bottom: 10px; 
  left: 20%;
  display: none; 
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;
} */

.col-card-price{
  color:var(--palette-2);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  text-shadow: 2px black;
}
.product-btn {
  min-width:9rem;
  align-self: center;
  color:	#fcfdfe;
  background-color: rgba(80, 81, 79, 0.5);
  justify-content: center; 
  border-radius: 5px ;

}
.product-btn:hover {
  background-color:rgba(114, 203, 16, .5);
  border: 1px solid rgb(207, 246, 36);
}
.link-productos{
  color:		#218af4;
}
.link-productos:hover{
  color: var(--palette-3);
}
.div-product-btn {
  width: 100%;
}
#input-busqueda, #input-busqueda-API{
  margin:var(--spacing-lg);
  margin-left: 10%;
  width: 26%;
  height:28px;
  border: 2px solid var(--palette-1);
  border-radius: 3px;
  background-color: rgb(185, 251, 192, .3);
  box-shadow: 2px 2px #ccc;
}

/*  ACERCADE  */
.acercaDe-container {
  background-color: #f3edf1;
  margin-bottom:1rem;
}
.acercaDe-container>p{
  margin-bottom: 1rem;
}
/* DETALLE PRODUCTO */
.container-detalleProducto {
  border: 1px solid rgb(8, 239, 78);
  box-shadow: 2px 2px grey;
  border-radius: 5px;
  width:94%;
  margin: 2rem 3% 2rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  background-color:white;
}
.container-detalleProducto p{
  color:var(--palette-1);
}
.container-detalle-imagenes{
  width: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  margin: 1rem 1em;
}
.container-detalle-imagenes img:first-of-type {
  max-width: none !important;  /*anula el 30% que tienen como max todas las img , solo p la 1°*/
  width: 80% !important;
  flex-shrink: 0;
  align-items: center;
  margin: .2rem auto 1rem;
}
.container-detalle-imagenes img{
  max-width: 30%;
  margin: .5rem;
} 
.container-detalle-imagenes img:hover{
  transform: scale(1.05);
}
.container-detalleProducto ul{
  text-align: left;
  list-style-type: none;
}
.container-detalle-nombre{
  font-size: var(--font-size-lg);
}
.parrafo-detalleProducto{
  color: var(--palette-3);
  width: 90%;
  margin: auto;
  font-size: var(--font-size-xs);
  text-align: justify;
}
#link-detalle{
  align-items: flex-end;
}
/*HOME*/
.parrafo-home{
  width:50%;
  margin: .5em auto;
}
.card-news-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 95%;
  margin:auto;
}
.card-news{
  width: 20%;
  border-radius: 4px;
  border:1px solid rgb(57, 53, 53);
  background-color: rgba(186, 187, 185, 0.1);
  margin:1rem;
  padding:.7rem;
  height:auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.card-news-description{
  font-family: var(--font-main);
  font-size: .8rem;
  height: 4.5rem;
  align-content:   center;
}
.card-news-name{
  font-size: var(--font-size-xs);
  background-color: #6c6c6d;
  color:white;
  /* background-color:rgb(90, 181, 7, .1); */
    font-family: var(--font-main);
}
.card-news-avatar {
  font-size: var(--font-size-xxs);
  font-family: var(--font-main);
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top:30px;
  --bs-pagination-padding-x: 0.3rem;
 --bs-pagination-padding-y: 0.2rem;

}
.whatsapp-float {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 100;
}
.whatsapp-float:hover {
  transition: transform 0.3s ease-in-out;
  color:var(--palette-2);
}
a.page-link {
  color: var(--palette-2);
  border: 1px solid var(--palette-2);
  border-radius:5px;
}
.page-item.active .page-link {
  background-color: rgba(255, 255, 255);
  color:var(--palette-2);
  border: .5px solid var(--palette-2);
}
.pagination a[href="#"]:hover{
  color:#8e24aa;
 }
.pagination .page-item.active {
 background-color:var(--palette-4);
 padding: 1px 8px;                                      
}
.page-item{
  background-color: #ccc;
  border: 1px solid var(--palette-4);
   padding: 1px 8px; 
}
.page-item.a{
  color:#89d631;
}
.page-link>span, .page-item:not(:first-child){
    color: var(--palette-2);
}
/**LOGIN****/
.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/Ruraljpg.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  width: 60%;
  height: 90vh;
  margin: 2rem auto 0.2rem auto;
  padding: 6rem 3rem;
  border-radius: 10px;
}
.login-wrapper, .notFound-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); 
  z-index: 3;
  pointer-events: 'none';
}
.fa-user-tie, .fa-unlock-keyhole{
color:white;
padding: 17px;
}
.login-title{
  font-size: 3rem ;
  font-family: var(--font-main);
  padding-right: 25%;
  color:rgb(90, 181, 7);
  margin-left: 23%;
  margin-right: auto;
  z-index: 99;
  text-shadow: 2px 1px black;
}
.form-login {
  padding: 2px;
  margin: .3em auto;
  width: 70%;
  color:white;
  display: grid;
  justify-items: center;
  z-index: 99;
}
.form-login input{
  background-color: rgb(59, 59, 61, .9);
  width: 88%;
  padding-left: 10px;
  height:50px;
  box-sizing: border-box;
  border-style: none;
  border-radius: 0 5px 5px 0;
  color: rgb(255,255,255,.7);
  font-size: large;
  font-family: var(--font-secondary);
  color: var(--palette-3);
  z-index: 99;
}
input[type='password']{
     letter-spacing: 3px;
   font-weight: 700;
}
input[type='email'], input[type='password']:focus {
  content:' ';
  outline: none;
  box-shadow: none;
}
.form-login-div{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  height: 50px;
  flex-direction: row;
  margin:5px;
  border:none;
  border-radius: 5px;
   box-sizing: border-box;
}
nav .fa-user-tie{
  padding: 5px;
}
.btn-submit{
  align-self:center;
  background-color: rgb(90, 181, 7);
  border-radius: 4px;
  margin-top: 1rem;
  height:2.7rem;
  z-index: 99;
  max-width: 300px;
}
.btn-submit:hover{
  border:none;
}
.listItemImage{
  width:8em;
}
.list{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 2em;
  column-gap: 2em;
}
.navBtn{
  width:2em;
  height:2em;
  margin:.3em;
}
/*----ADMIN----*/
.container-admin{
  flex-direction: column;
}
.container-admin.list{
  justify-content: center;
}
.col-card-price-admin{
  color:var(--palette-2);
  font-family: var(--font-alternative);
  font-size: large;
  text-shadow: 2px black;
}
.editButton, .deleteButton{
  width: 73px;
  height: 31px;
}
.title-admin{
  text-align: left;
  margin-left:7%;
  margin:2rem;
  color:var(--palette-2);
}
.nav-admin {
  justify-content: space-around;
  height: 4rem;
  margin:3rem 0;
  width: 100%;
  align-content: center;
}
.listItem{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 23%;
  height:auto;
  font-size:medium;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
  padding: 10px;
}
.btn-agregar{
  margin-bottom:2em;
  width: 15%;
  color: var(--palette-1);
  border: 3 px solid var(--palette-2);
  border-radius: 4px;
}
.btn-agregar:hover{
color:var(--palette-4)
}
.navBtnAgregar{
  color: var(--palette-6);
  margin:2px;
  padding: 4px;
  background-color: transparent;
}
.navBtnAgregar:hover, .nav-item:hover{
  border:none;
  color:#4bae4f;
}
/*--formularioProducto----*/
.container-formularioProd{
  font-family: var(--font-alternative);
  box-shadow: 2px 3px rgb(73, 241, 6, .2);
  width:55%;
}
.tx-form{
  font-weight: 800;
}
.container-formularioProd label{
  width:8em;
}
.container-formularioProd >form>div>input{
 width: 80%;
}
.container-formularioProd input:focus{
  background-color: rgb(90, 181, 7,.2);
  outline: rgb(90, 181, 7);
}
.container-edicion .btn-submit-forms, .container-formularioProd .btn-submit-form{
  border-radius: 4px;
  font-family: var(--font-main);
  font-size: smaller;
  background-color: rgba(90, 181, 7,0.2);
  margin: 1rem 2rem;
  color: #313132;
}
#formularioProd-title{
  color:  #89d631;
  margin: 1.8rem 1rem;
  text-align: left;
}
/*--formularioEdicion--*/
#form-edicion{
  width:55%;
  display: flex;
}
.container-edicion-div{
  display: flex;  
  justify-content: space-between;
  width: 90%;
}
.container-edicion input{
  width: 500px;
  height: 1.5rem;
  margin-left:60px;
  padding:5px;
  color:#54545bd5;
  font-weight: 400;
}
.container-edicion>h2{
  color: var(--palette-2);
  font-family:var(--font-alternative);
}
 .container-fluid{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width:100%;
}
/***CATEGORY****/
.container-category{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container-category>h2{
  align-self: flex-start;
  margin:2rem;
 padding-left: 2rem;
}
/* .container-category .card-bike .link-productos {
  display: none;
} */
.file-category{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/***NOT FOUND***/

.link-notFound{
 color: white;
 z-index:1000;
}
.link-notFound:hover{
   background-color: rgb(102,192,11,0.7);
   color: white;
}

/*-------BREAKPOINTS-----------------*/
@media (max-width: 1280px){
  .container-gallery{
    width: 90%;
  }
  .container-login{
    width:75%;
  }
#input-busqueda, #input-busqueda-API{
  width: 40%;
}
  .card-news-container{
    width: 90%;
    margin: 1rem;
}
  .card-news{
    min-width: 28%;
   max-width: 30%;
   margin:1rem .5rem;
  }
  .container-formularioProd{
  width:60%;
  }
  .container-formularioProd >form>div>input{
 width: 80%;
}
.container-edicion{
  width: 95%;
}
.container-edicion-div {
  width: 95%
}
#form-edicion{
  width:60%;
}
.form-login-div{
  width: 80%;
}
.swal2-popup {
  width:35%;
  height: 80%;
}
.swal2-html-container{
  margin:0;
  padding: 0;
}
}
@media (max-width: 992px)	{
.container-detalleProducto {
 margin-left: .9rem;
 height:auto;
 border:none;
 box-shadow: none;
}
.container-detalleProducto ul{
  padding-left: 0.5rem;
}
.container-detalleProducto ul li{
 margin-left: 0;
 padding: 0;
}
.parrafo-detalleProducto{
  margin: 0;
  padding: 0;
  text-justify: auto;

}
.container-admin{
  width: 95%;
  padding: .5rem;
  margin:auto;
}
#list-admin{
 column-gap: 1em;
}
.listItem{
  width: 29%;
  padding:.5rem;
  margin:.5rem;
}
.cart-container{
  width:50%;
}
.card-bike{
  margin:.6rem;
 }
.container-login{
  width:85%;
  }
.container-gallery{
  width:98%;
  font-size: small;
}
 .nav{
  margin:5px 0;
 }
  .nav li{
  margin: auto;
  padding: .3em;
}

#form-contacto {
  width:90%;
  margin:auto;
}
.card-news-container{
  padding: 2px;
}
  .card-news{
  margin:.5rem;
  padding: .5em;

  }
  .container-formularioProd{
  width:75%;
  }
  .container-formularioProd >form>div>input{
 width: 80%;
}
#form-edicion{
  width: 75%;
}
.btn-agregar{
  margin-bottom:2em;
  width: 20%;
}
.col-card-img{
    max-width: 95%;
}
.swal2-popup {
  width:40%;
  height: 75%;
  overflow: hidden;
}
}

@media (max-width: 768px)	{
.cart-container{
  width:60%;
  height:fit-content;
}
.container-login{
  min-width:98%;
}
.form-login-div{
  width: 100%;
}
.form-login{
  margin:.2rem auto;
  padding:.5rem;
  width: 70%;
}
.card-bike{
  padding: 0;
  margin: .5rem;
}
.pagination{
  width:50%;
  margin:auto;
}
.pagination .page-link {
  padding: 0.2rem 0.2rem;
  font-size: 0.7rem;
}
div[class=col-3]{
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
} 
.btn-show-cart{
  margin:auto;
  padding-top: 4px;
}
#input-busqueda, #input-busqueda-API{
  width: 65%;
}
.header-title {
  padding: 0.5em;
}
#form-edicion{
  width:80%;
  margin: .2rem 10%;
}
#form-edicion input{
  width: 80%;
}
.container-formularioProd{
  width:80%;
}
.container-formularioProd >form>div>input{
  width: 92%;
}
div[class=col-3]{
  display: flex;
  flex-direction: column;
  padding: .7rem 0.2rem ;
  overflow-x: hidden;
}  
#form-contacto {
  width:90%;
  margin:auto;
}
.card-news{
  min-width: 45%;
  margin:.5rem;
  padding: .3em;
}
.list{
  column-gap: .7rem;
}
.listItem{
  width:42%;
}
.col-6{    /*HEADER*/
  width:100%;
  margin:auto;
}
.col-6>img{
  width: 50%;
}
.swal2-popup {
  width:55%;
  height: 75%;
  overflow: hidden;
}}

@media (max-width: 575.98px)	{
  
.pagination{
  width:50%;
  margin:10px 25% ;
}
.pagination .page-item {
  display: none;
}
  .pagination .page-item:first-child,   /* flecha previa */
  .pagination .page-item:last-child,    /* flecha siguiente */
  .pagination .page-item.active,
  .pagination .page-item.active + .page-item,
  .pagination .page-item.active ~ .page-item:last-child,
  .pagination .page-item:nth-child(n):has(+ .page-item.active)
  {
    display: inline-block;
    padding: 2px 4px;
  }

.cart-container{
  width:80%;
  height:fit-content;
}
.form-login{
  width: 100%;
}
 .pagination li{
  padding: 5px 10px;
}
.card-bike{
 width: 70%;
 margin:.7rem 15%;
}
.container-gallery{
  flex-direction: column;
  width:80%;
}

.card-news-container{
  width: 95%;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.container-formularioProd{
  width:90%;
  margin: auto;
  }
.container-formularioProd >form>div>input{
 width: 95%;
}
.container-edicion {
  width: 95%
}
.container-edicion-div input {
 width: 150%;
 margin: .2rem 0;
}
#form-edicion{
  width:90%;
  justify-content: space-between;
}
.card-news{
  min-width:75%;
  margin:1.2rem auto;
  padding:1rem;
}
#form-contacto {
  width:90%;
  margin:auto;
}
.nav{
  justify-content: space-around;
  padding: 0;
  border-radius: 0;
}
nav ul{
  flex-direction: column;
  width:100%;
  padding: 0;
  margin: 0;

}
nav ul li{
  width: 30%;

}
nav ul>li:not(:last-child){
  width: 100%;
  height: 2.5rem;
  margin: 0;
  border-bottom:1px solid rgb(255, 255, 255);  
  border-radius: 0; 
  display:flex;
 color:white;
 vertical-align: middle;
}
nav ul>li:last-child{
  margin-left: 0;
  color:white;
  width: 100%;
}
li> a.link ,li.submenu{
  vertical-align: middle;
  padding: 5px 15px;
  text-align: left ;
  width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style: none;
  padding: 0 15px;
  margin: 0;
  align-items: stretch;
  position: relative;
  top:0;
  left:-4px;
}
nav ul>li:not(:last-child), .link.active {
  flex-wrap: wrap;
  border:none;
  padding: 0 3px;
  color:#03488d;
  align-items: center;
  display: flex;
}
.link.active {
  padding: 5px 15px;
  border-bottom: 1px solid white;
}
.submenu-header {
  justify-content:space-between;
  align-items: center;
  width:100%;
  background-color: var(--palette-1);
  color: var(--palette-6);
  padding: 1em;
  cursor: pointer;
  font-weight: bold;
  height: 2.5rem;
  margin: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-radius: 0;
  display: flex;
  }
.submenu-header:hover {
  background-color: var(--palette-5);  
  }
.plus-sign {
  font-size: 1.2em;
  display: inline;
  }
  .sublista {
  display: none;
  background-color: var(--palette-4);
  width: 40%;
    padding: 5px; 
  }
.sublista.visible {
  width: 40%;
  flex-direction: column;
}
.sublista li a{
  color:var(--palette-6);
  padding: 0.55em .2em;
}
.navFooter {
  display: flex;
  align-items: center;
  padding: .3rem;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
.navFooter ul>li:last-child{
  margin: 5px 0;
  padding-left: 3px;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.navFooter ul {
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  list-style: none;
}
.listItem{
  width:70%;
  margin:.5rem auto;
}
.container-header{  /*HEADER*/
  justify-content: center;
}
.col-6, .col-6 .link{    /*HEADER*/
  width:100%;
  margin:auto;
  border-bottom: none;
}
.col-6>img{
  width: 60%;
}
.file-category{
  flex-direction: column;
  width: 90%;
}
.file-category .card-bike{
  width: 60%;
  margin: 1rem auto;
  min-width: 200px;
} 
.btn-agregar{
  margin-bottom:2em;
  width: 30%;
}
.Toastify{
  width: 50px;
}
.swal2-popup {
  width:65%;
  height: 77%;
  overflow: hidden;
}
}

