@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* COLORS  */
  --primary-color: #4caf50;
  --secondary-color: #fff;
  --background-hover: #b8e2b9;
  --color-shadow: #ccc;
  --palette-1:#5ab507;
  --palette-2:#66c00b;
  --palette-3: #72cb10;
  --palette-4: #89d631;
  --palette-5: #a9e159;
  /* --palette-6: #b8e2b9; */
  --palette-6:	#b9fbc0;

  /*  SPACING  */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xlg: 4rem;

  /* Borders & Shadows */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  /* Typography */
  --font-main: "Rough", "Verdana", sans-serif;
  --font-secondary: "Winky", sans-serif;
  --font-alternative: "Bree Serif", serif;
  --font-display: "";
  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.3rem;
  --font-size-lg: 1.4rem;
  --font-size-display: 2rem;

  /* Sizes  */
  --card-width: 250px;
  --image-size: 230px;
}
#root {
  padding: 0;
  width: 100%;
  /* height: 100vh; */
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #FFF;
  box-sizing: border-box;

}
/* HEADER */
header {
  background-color: black;
  color: white;
  font-family: var(--font-alternative);
  width: 100%;
}
.header-title {
  /* padding: 0.3em; */
}
.lista-contacto {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 70px;
}
.lista-contacto li {
  padding: .7rem 0.2rem .8rem 0.2rem;
  font-family: var(--font-main);
  font-size: var(--font-size-xs);
  margin: auto;
}
.lista-contacto li:hover {
  transform: scale(1.01);
  color:var(--palette-5);
}
.icono {
  /* font-family:var(--font-primary); */
  margin-right: 0.2rem;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
/*  NAV  */
.nav {
  width: 100%;
  background-color: var(--palette-1);
  color: var(--palette-6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 20px 0;
  padding: 20px 2%;

  flex-wrap: wrap;
  overflow-x: hidden;
  box-sizing: border-box;

}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-left: var(--spacing-md);
  align-items: self-end;
  padding: 0 15px;
  font-size: var(--font-size-md);
  font-family: var(--font-alternative);
  border-radius: 4px;
}
.nav li:hover {
  /* text-shadow: 2px 2px 1px var(--color-shadow); */ 
  background-color: var(--palette-5);
  color: var(--palette-6);
  border:1px solid var(--palette-6);
} 
.btn-show-cart{
  margin-left: 2rem;
  padding: 5px;
  border: 1px solid var(--palette-6);
  border-radius: 4px ;
}
.nav a, .navFooter a {
  color: var(--palette-6);
  text-decoration: none;
}
.nav a:hover{
  color:var(--palette-6);
}
.fa-user-tie{
  color: var(--palette-6);
}
.navFooter{
  width: 100%;
  background-color: var(--palette-1);
  color: var(--palette-6);
  align-items: center;
  justify-content:center;
  margin: 10px auto;
  padding: 8px;
}
.navFooter a:hover{
  color: var(--palette-5);
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lista {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.submenu {
  position: relative;
  background-color: var(--palette-1);
  color: var(--palette-6);
  border-radius: 4px;
}
.sublista {
  position: absolute;
  display: none;
  top: 104%;
  left: 0px;
  background-color: var(--palette-1);
  padding: 10px 12px 10px 0px;
  list-style: none;
  border: 1px solid var(--palette-6);
  border-radius: 4px;
  z-index: 10;
  color: var(--palette-5);
  text-align: left;
}
.submenu:hover .sublista {
  transition: 2s;
  display: inline-flex;
  flex-direction: column;
}
.sublista > li {
  font-size: var(--font-size-sm);
}
.sublista > li:hover {
  background-color: var(--palette-5);
}
.link.active{
  color:#f4cd21;
  color:rgb(30, 30, 119);
}
/* .cambiaColor {
  background-color: rgb(9, 255, 0);
} */
#container-gallery {
  width: 90%;
  margin: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#container-bike {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4bae4f;
  margin: 0.6rem;
  max-width: 25%;
  border-radius: 4px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#container-titulo {
  width: 100%;
  height: 100%;
  background-color: var(--palette-2);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-alternative);
}
/* #container-bike h3:hover {
  color: #4bae4f;
} */
.col-card-img img:hover {
  box-shadow: 2px 1px 2px 1px var(--color-shadow);
  /* transform: scale(1.1); */
}
/*  FORMULARIO */

.form-input {
  border: 1px solid #4caf50;
}
.btn-enviar {
  border: 1px solid #4caf50;
}
.form-control {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: var(--spacing-xlg);
  padding-bottom: 30px;
}
.form-control label {
  text-align: left;
  margin: 0.4em;
  
}

/*CART*/
.cart-container {
  color: rgb(38, 37, 37);
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  box-shadow: -2px 0 10px black;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  display: none;
  background-color: rgb(230, 228, 228);
}
.cart-container.open {
  display: block;
  transform: translate(0%);
  border: 2px solid var(--palette-1);
}
.fa-cart-shopping {
  color: var(--palette-3);
}
.close-button {
  margin: 1em;
  background-color: var(--palette-2);
}
.close-button:hover {
  border: 1px solid white;
}

.table{
  width:98%;
  margin:auto;
}
 tr :hover{
 background-color:var(--palette-6);
}
.btn-vaciar , .cart-content p{
  position:fixed;
  top:2rem;
  right:6rem;
}
.btn-vaciar:hover{
  color:white;

}
.cart-title {
  font-family: var(--font-alternative);
  text-align: left;
  margin: 30px;
}
.cartItems {
  list-style-type: none;
  font-family: var(--font-secondary);

  display: flex;
  justify-content: space-between;
}

.item-price {
  margin-left: var(--spacing-lg);
}
.cart-line {
  list-style-type: none;
  text-align: right;
  color: var(--palette-3);
}
.fa-trash,
i {
  color: var(--palette-1);
}
.btn-comprar{
  margin:2em;
  margin-left: 65%;
  align-self: flex-end;
}
/* PRODUCTOS */

.col-card-name {
  width: 15em;
  height: 3em;
  margin: .3em auto;
}
.container-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: #f7f6f4;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--box-shadow) 0.3s ease;
  width: fit-content(300px);
  margin: 20px;
}
.col-card-img{
  width:12em;
  height:9em;
  display: flex;
  margin: auto;
}
.col-card-img img {
  margin:auto;
  align-content: center;
}
.nombre {
  font-size: _18px;
}
.product-btn {
  margin: 20px;
  align-self: center;
  color:	#1a237e;
  background-color: rgb(90, 181, 7, .5);
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}
.product-btn:hover {
  background-color:var(--palette-3);
  border: 1px solid magenta;
}
.link-productos{
  color:		#218af4;
}
.link-productos:hover{
  color: var(--palette-3);
}

.div-product-btn {
  width: 100%;
}
.qtyButton {
  padding: 0.3em 0.8em;
  margin: 0.1em 0.6em;
}
.qtyButton:hover {
  border-color: #8e24aa;
}
footer {
  background-color: var(--palette-1);
}
/*  ACERCADE  */
.acercaDe-container {
  background-color: #f3edf1;
}
/* DETALLE PRODUCTO */
.container-detalleProducto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top:3em;
  background-color:white;
}
.container-detalleProducto p{
  color:var(--palette-1);
}
.container-detalle-imagenes{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:flex-start;
  margin: 1.7em 1em;
}
.container-detalle-imagenes img:hover{
  transform: scale(1.05);
}
.container-detalle-nombre{
  font-size: var(--font-size-lg);
}
.parrafo-detalleProducto{
  color: var(--palette-3);
  width: 90%;
  margin: auto;
  font-size: var(--font-size-md);
}
/*HOME*/
.card-news-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: stretch;

}
.card-news{
  width: 23%;
  border:1px solid rgb(57, 53, 53);
  margin:2rem;
  border-radius: 4px;
  padding:1em;
  height:auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/**LOGIN****/
.container-login{
  background-color:#ccc;
  padding:3em;
  width: 100%;
}
.container-login .form-control{
 margin: 1.5em auto;
 color:white;

}
.btn-submit{
  align-self:center;
  border: 1px solid var(--palette-4);
}
#form-login, #form-pass{
  border: 1px solid var(--palette-1);
  margin-top: 2em;
  border-radius: 5px;
  padding:2px;
  background-color:var(--palette-6);
  padding-left: .3em;
  margin-left: 10px;
}
.listItemImage{
  width:8em;
}
.list{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 2em;
  width: 80%; /*max-width*/
  margin: 5em auto;
}
.navBtn{
  width:2em;
  height:2em;
  margin:1em;
}
/*----ADMIN----*/
.listItem{
  display:flex;
  flex-direction: column;
  align-items:center;
  max-width: 40%;
}
.btn-agregar{
  margin-bottom:2em;

}
/*--formularioProducto----*/
.tx-form{
  font-weight: 800;
}
.container-formularioProd label{
  width:8em;
}
.container-formularioProd input{
 width:15em;
}
/*--formularioEdicion--*/
#form-edicion{
  width:40em;
  display: flex;
}
.container-edicion input{
  width: 500px;
  margin-left:60px;
  padding:5px;
  color:#200564d5;
  font-weight: 500;
}
.btn-submit-form {
  font-family: var(--font-main);
  border: 2px solid var(--palette-2);
  margin:2em;
}
 .container-fluid{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}
/*------------------------BREAKPOINTS-------------------------------------------*/
@media (max-width: 991.98px)	{
 
  .nav li{
  margin: auto;
  padding: .3em;
}
#form-contacto{
  width:60%;
}
.col-card-img{
    max-width: 95%;
}}
@media  (max-width: 780px)	{
@media  (max-width: 780px)	{
.lista-contacto{
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn-show-cart{
  margin:auto;
}

.header-title {
  padding: 0.5em;
}
.lista-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: .7rem 0.2rem ;
      overflow-x: hidden;

} 

#form-contacto {
  width:90%;
  margin:auto;
}

.card-news{
  width: 45%;
  margin:1rem;
  padding:1em;
}
}
@media (max-width: 575.98px)	{
.card-news{
  width: 80%;
  margin:1rem;
  padding:1em;
}

#form-contacto {
  width:90%;
  margin:auto;
}
}





